<div ng-controller="loginController as usr">
    <form ng-submit="login()" name="frmLogin">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label for="txtEmail">Email address</label>
                    <input type="email" class="form-control input-lg" id="txtEmail" name="email" placeholder="Enter Email" ng-model="User.Email" required>
                </div>
                <div class="form-group">
                    <label for="txtPassword">Password</label>
                    <input type="password" class="form-control input-lg" id="txtPassword" name="password" placeholder="Password" ng-model="User.Password" required>
                </div>
                @*
                    TODO: Put back in
                    <div class="form-group">
                    <checkbox ng-model="rememberUser"></checkbox> Remember Me
                </div>*@
                <button type="submit" class="btn btn-primary">Login</button>
                <button type="button" class="btn btn-default" ng-click="showRegistrationForm()">Register</button>
            </div>
        </div>
    </form>
</div>
