
<div style="display: table; table-layout: fixed; width: 100%;padding: 10px;">
    <div style="display: table-cell">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="group in groups">{{group.Name}}</li>
        </ul>
    </div>
    <div style="display: table-cell; width: 100px; padding: 10px;">
        <div ng-controller="groupCreateController as grp">
            <input type="button" class="btn btn-success" value="+" ng-click="showNewGroupForm()" />
            <div ng-if="editMode" class="new-form">
                <div ng-include src="'/Home/NewGroup'"></div>
            </div>
        </div>       
    </div>
</div>