<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Brew Bro!</h1>
        <p>
            This is the place to settle you brewing debates.
        </p>
    </div>

    @Html.Partial("User/Login")
</div>

