
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Brew Bro!</h1>
        <p>
            This is the place to settle you brewing debates.
        </p>
    </div>
</div>
@Html.Partial("User/Login")
