<form ng-submit="save()" name="frmGroup">
    <div class="jumbotron">
        <div class="container">
            <!-- TODO: conditional click and title based on if the group owner is the logged in user -->
            <h1 ng-if="!editMode">{{Group.Name}}<button type="button" class="btn btn-default" ng-click="startEdit()" ng-if="isGroupOwner()"><i class="fa fa-pencil fa-lg"></i></button></h1>
            <div ng-if="editMode">
                <input type="text" placeholder="Enter Group Name" style="font-size: 63px; border: none; background-color: transparent" ng-model="GroupEdit.Group.Name" required />

            </div>

            <button start-brew group-id="{{Group.Id}}" styling="btn-primary btn-lg" show-text="true" ng-if="!editMode && Group.Users.length > 1"></button>

            <div class="btn-group" ng-if="editMode">
                <button class="btn btn-primary" type="submit">Save</button>
                <button ng-if="!addMode" class="btn btn-warning" ng-click="cancelEdit()">Cancel</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default" ng-if="editMode">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-users"></i>Find Users</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" id="txtUsers" class="form-control" placeholder="Enter Name" ng-model="GroupEdit.SearchText" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="searchUsers()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <ul class="list-group" ng-if="GroupEdit.UsersToSelect.length > 0">
                <li class="list-group-item" ng-repeat="user in GroupEdit.UsersToSelect">
                    <div class="v-middle">
                        {{user.Name}}
                    </div>
                    <div class="v-middle">
                        <div class="pull-right btn-group">
                            <button class="btn btn-default" type="button" title="Add to Grpup" ng-click="addUser(user.Id)"><i class="fa fa-user-plus"></i></button>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i>Users</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in getUserList()">
                    <div class="v-middle">
                        {{user.Name}}
                    </div>
                    <div class="v-middle">
                        <div class="pull-right btn-group" ng-if="!isLoggedInUser(user.Id)">
                            <!-- TODO: conditional click and title based on if the group owner is the logged in user -->
                            <button class="btn btn-default" type="button" title="{{ editMode ? 'Remove User' : 'Initiate Vote to Kick'}}" ng-click="editMode ? removeUser(user.Id) : kickUser(user.Id)"><i class="fa fa-user-times"></i></button>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
        @* TODO Infinite Scroll *@
        <div class="panel panel-default" ng-if="!addMode && BrewHistory.length > 0">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-coffee"></i>Brew History</h3>
            </div>
            <table class="table">
                <tr>
                    <th style="width: 25%">When</th>
                    <th>What Time</th>
                    <th>The Chosen Bro</th>
                </tr>
                <tr ng-repeat="brew in BrewHistory">
                    <td class="v-middle">
                        {{brew.Date | date : 'dd/MM/yyyy' }}
                    </td>
                    <td class="v-middle">
                        {{brew.Date | date : 'H:mm' }}
                    </td>
                    <td class="v-middle">
                        <profile-pic source="{{brew.User.ProfileImage}}" user-id="{{brew.User.Id}}" size="small"></profile-pic>{{brew.User.Name}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
