<!DOCTYPE html>

<html ng-app="brewBro">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wheres my brew, bro?</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/ng-animate.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/base.css" />
    @*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />*@
    @*@Styles.Render("~/Content/less")*@
</head>
<body>
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navBarCollapsed = !navBarCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    Brew Bro
                    @* TODO: Logo *@
                </a>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse" ng-if="userLoggedIn()" collapse="!navBarCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/Profile"><profile-pic source="{{User.ProfileImage}}"></profile-pic>{{User.Name}}</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="#/Groups">Groups</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/angular-bootstrap-checkbox.js"></script>
    <script src="~/Scripts/Directives/validate.js"></script>
    <script src="~/Scripts/Directives/compareValidator.js"></script>
    <script src="~/Scripts/Directives/startBrew.js"></script>
    <script src="~/Scripts/Directives/profilePic.js"></script>
    <script src="~/Scripts/Factories/authentication.js"></script>
    <script src="~/Scripts/Factories/group.js"></script>
    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/Controllers/groupControllers.js"></script>
    <script src="~/Scripts/Controllers/userControllers.js"></script>
    <script src="~/Scripts/Controllers/brewControllers.js"></script>
    <script src="~/Scripts/Controllers/navControllers.js"></script>
    <script src="~/Scripts/Services/groups.js"></script>
    <script src="~/Scripts/Services/brews.js"></script>
    <script src="~/Scripts/Services/users.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
</body>
</html>
