<!DOCTYPE html>

<html ng-app="brewBro">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kanban App</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/Controllers/groupControllers.js"></script>
    <script src="~/Scripts/Services/groups.js"></script>
</body>
</html>
