<!DOCTYPE html>

<html ng-app="brewBro">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wheres my brew, bro?</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/ng-animate.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/base.css" />
    @*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />*@
    @*@Styles.Render("~/Content/less")*@
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/angular-bootstrap-checkbox.js"></script>
    <script src="~/Scripts/Directives/validate.js"></script>
    <script src="~/Scripts/Directives/compareValidator.js"></script>
    <script src="~/Scripts/Directives/startBrew.js"></script>
    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/Controllers/groupControllers.js"></script>
    <script src="~/Scripts/Controllers/userControllers.js"></script>
    <script src="~/Scripts/Controllers/brewControllers.js"></script>
    <script src="~/Scripts/Services/groups.js"></script>
    <script src="~/Scripts/Services/brews.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.0/less.min.js"></script>
</body>
</html>
