body {
    padding-top: 40px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.panel-heading.navbar-right {
    margin-right: 5px;
}

.panel-heading {
    vertical-align: middle;
}

.v-middle {
    vertical-align: middle;
}

.list-group-item {
    display: table;
    width: 100%;
}

    .list-group-item > div {
        display: table-cell;
    }

.jumbotron .btn.btn-default {
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.navbar {
    margin-bottom: 0px;
}

.panel-title > .fa {
    margin-right: 10px;
}

.fa + span, span + .fa, button + span {
    margin-left: 10px;
}


button:active, button:focus {
    outline: none !important;
}

.hcenter, table.hcenter th{
    text-align: center !important;
}
