body {
    padding-top: 40px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.panel-heading.navbar-right {
    margin-right: 5px;
}

.panel-heading {
    vertical-align: middle;
}

.v-middle {
    vertical-align: middle !important;
}

.list-group-item {
    display: table;
    width: 100%;
}

    .list-group-item > div {
        display: table-cell;
    }

.jumbotron .btn.btn-default {
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.navbar {
    margin-bottom: 0px;
}

.panel-title > .fa {
    margin-right: 10px;
}

.fa + span, span + .fa, button + span {
    margin-left: 10px;
}


button:active, button:focus {
    outline: none !important;
}

.hcenter, table.hcenter th {
    text-align: center !important;
}

.profile-pic {
    position: relative;
    height: 150px;
    width: 150px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

    .profile-pic > img {
        background-size: contain;
        width: auto;
        height: 100%;
        margin-right: 10px;
        vertical-align: middle;
        max-width: 150px;
    }

    .profile-pic > button {
        position: absolute;
        color: black;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: transparent;
    }

        .profile-pic > button:hover, .profile-pic > button:active, .profile-pic > button:focus {
            color: black !important;
            box-shadow: none;
        }

    .profile-pic.xsm {
        height: 19px;
        width: 19px;
    }

        .profile-pic.xsm > img {
            max-width: 19px;
        }


    .profile-pic.sm {
        height: 50px;
        width: 50px;
    }

        .profile-pic.sm > img {
            max-width: 50px;
        }
