.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.panel-heading.navbar-right {
    margin-right: 5px;
}

.panel-heading {
    vertical-align: middle;
}

.v-middle {
    vertical-align: middle;
}

.list-group-item {
    display: table;
    width: 100%;
}

.list-group-item > div {
    display: table-cell;
}
